<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
    <body>
        <a href="{% url 'tripapp:index' %}">Home</a>
        <a href="{% url 'tripapp:logout' %}">Logout</a><br>
        <h1>{{trip.destination}}</h1>
        <p>Planned By: {{trip.created.name}}</p>
        <p>Description: {{trip.description}}</p>
        <p>Travel Date From: {{trip.travel_from}}</p>
        <p>Travel Date To: {{trip.travel_to}}</p>

        <h2>Other users joining the trip:</h2>
        {%for user in goers%}
            <p>{{user.name}}</p>
        {%endfor%}
    </body>
</html>