<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Registration</h2>
    <form action = "{% url 'loginapp:register' %}", method = "POST">
        {% csrf_token %}
    Name: <input type="text" name="name" value=""><br>
    Username: <input type="text" name="username" value=""><br>
    Password: <input type="text" name="password" value=""><br>
    Confirm Password: <input type="text" name="cpassword" value=""><br>
    <input type="submit" name= value="Submit">
    </form>
    <br><br>
    <h2>Login</h2>
    <form action="{% url 'loginapp:login' %}" method="POST">
        {%csrf_token%}
        Username: <input type="text" name="username" value=""><br>
        Password: <input type="password" name="password" value=""><br>
        <input type="submit" name="" value="Submit">
    </form>
    <br><br>
    {%if messages%}
    {%for message in messages%}
    {{message}}
    <br>
    {%endfor%}
    {%endif%}
</body>
</html>