<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'eventapp:index' %}">Home</a>
    <a href="{% url 'eventapp:logout' %}">Logout</a><br>
    <h1>Add a event</h1>
    <form action = "{% url 'eventapp:addevent' %}", method = "POST">
        {% csrf_token %}
    Event name: <input type="text" name="destination"><br>
    Description: <input type="text" name="description"><br>
    From: <input type="date" name="travel_from"><br>
    To: <input type="date" name="travel_to"><br>
    <input type="submit" name= value="Submit">
    </form>
    {%for message in messages%}
        <p>{{message}}</p>
    {%endfor%}
</body>
</html>